extends ../layouts/main
include ../utils/mixins

block content
  -
    let tickets = [
      {
        href: '#',
        src: 'img/item01.jpg',
        srcset: 'img/item01@2x.jpg 2x',
        category: 'Дом',
        label: 'Куплю',
        title: 'Монстера',
        desc: 'Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...',
        price: 1000,
        color: '01'
      },
      {
        href: '#',
        src: 'img/item02.jpg',
        srcset: 'img/item02@2x.jpg 2x',
        category: 'Дом',
        label: 'Продам',
        title: 'Мое старое кресло',
        desc: 'Продам свое старое кресло, чтобы сидеть и читать книги зимними...',
        price: 4000,
        color: '02'
      },
      {
        href: '#',
        src: 'img/item03.jpg',
        srcset: 'img/item03@2x.jpg 2x',
        category: 'Электроника, дом',
        label: 'Продам',
        title: 'Дедушкины часы',
        desc: 'Продаю дедушкины часы в прекрасном состоянии, ходят',
        price: 45000,
        color: '03'
      },
      {
        href: '#',
        src: 'img/item04.jpg',
        srcset: 'img/item04@2x.jpg 2x',
        category: 'дом',
        label: 'Продам',
        title: 'Кофеварка',
        desc: 'Куплю вот такую итальянскую кофеварку, можно любой фирмы...',
        price: 2000,
        color: '03'
      },
      {
        href: '#',
        src: '/img/item01.jpg',
        srcset: '/img/item01@2x.jpg 2x',
        category: 'Дом',
        label: 'Куплю',
        title: 'Монстера',
        desc: 'Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...',
        price: 1000,
        color: '01'
      }
    ]

  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__header
      a.tickets-list__btn.btn.btn--big(href='#')
        span Новая публикация
    +tickets({
      tickets,
      isDeleted: true
    })

