ul.error__list
  li.error__item
    a(href='sign-up.html') Вход и регистрация
  li.error__item
    a(href='new-ticket.html') Новая публикация
  li.error__item
    a(href='main.html') Главная страница
